.meta .right.floated i {
    margin-left: 1em;
}

.star.icon:hover {
    color: currentColor !important;
}

.option.column {
    padding: 0.75rem 0.5rem !important;
}

.discount.header {
    margin-top: 0.5em !important;
}

.recommendation.banner {
    background: rgb(167, 134, 86) !important;
    background: linear-gradient(105deg, rgba(236, 205, 164, 1) 0%, rgba(167, 134, 86, 1) 50%, rgba(236, 205, 164, 1) 100%) !important;
    margin-bottom: 100px !important;
    margin-top: 100px !important;
    padding-top: 100px;
}

/* .recommendation.banner .header {
    color: #fff;
} */

.rotated {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    background-color: #313131;
    border: 2px solid #eccda4;
    transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    z-index: 15;
}

.rotated .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
    transform: translate(-5%, 75%) rotate(-45deg);
    -ms-transform: translate(-5%, 75%) rotate(-45deg);
    -webkit-transform: translate(-5%, 75%) rotate(-45deg);
}